# dependencies
node_modules/

# Next.js
.next/
out/

# environment variables
.env
.env.local
.env.*.local

# build outputs
dist/
build/

# logs
*.log

# misc
.DS_Store
Thumbs.db
*.tmp
*.swp

certificates